@import '../../node_modules/bootstrap/dist/css/bootstrap';

.tab-content {
  .tab-pane {
    padding: 10px;
  }
}

.image-actions {
  display: inline-block;
  float: right;

  button {
    margin-right: 10px;

    &:last-child {
      margin-left: 0;
    }
  }
}

.image-list {
  margin-top: 10px;
}

.image-link {
  display: inline-block;
  margin-top: 7px;
}

.quit {
  margin-top: 10px;
  margin-bottom: 10px;
}
