{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "React": false
  },
  "extends": ["standard", "standard-jsx"],
  "plugins": ["react"],
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"]
  }
}
